<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>QX1 Control Center</title>

<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
-->
<script type="text/javascript" src="/static/jquery-1.11.2.min.js"></script>

<script>
function update_values() {
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	$.getJSON($SCRIPT_ROOT+"/_data",
		function(data) {
			$("#avail_aperture").text(data.avail_aperture)
			$("#avail_shutter").text(data.avail_shutter)
			$("#avail_iso").text(data.avail_iso)
			$("#mode").text(data.mode)
			$("#aperture").text(data.aperture)
			$("#shutter").text(data.shutter)
			$("#iso").text(data.iso)
		});
	setTimeout(update_values, 1000);
};
$(update_values());
addEventListener("DOMContentLoaded", function() {
	var shootButton = document.querySelector('.shootButton')
	shootButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
		request.open("GET", "/takePicture", true);
		request.send();
	});
	var modeButtons = document.querySelectorAll('.modeButton')
	for (var i=0; i < modeButtons.length; i++) {
		modeButton = modeButtons[i];
		modeButton.addEventListener("click", function(e) {
			e.preventDefault();
			var clickedButton = e.target;
			var mode = clickedButton.value;
			var request = new XMLHttpRequest();
			request.open("GET", "/setMode/" + mode, true);
			request.send();
		});
	}
	var apertureButton = document.querySelector('.apertureButton')
	apertureButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
		request.open("GET", "/setAperture/" + document.getElementById("apertureField").value, true);
		request.send();
	});
	var shutterButton = document.querySelector('.shutterButton')
	shutterButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
		request.open("GET", "/setShutter/" + document.getElementById("shutterField").value.replace('/', '.'), true);
		request.send();
	});
	var isoButton = document.querySelector('.isoButton')
	isoButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
		request.open("GET", "/setISO/" + document.getElementById("isoField").value, true);
		request.send();
	});
	update_values();
}, true);
</script>

<link href="style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<!--<p><img src="feed"/></p>

<p>Shooting Mode: <span id="mode"/></p>
<p><button class="modeButton" value="Program Auto">Program Auto</button><button class="modeButton" value="Shutter">Shutter</button><button class="modeButton" value="Aperture">Aperture</button></p>

<p>Aperture: <span id="aperture"/></p>
<p>Available Apertures: <span id="avail_aperture"></span></p>
<p><input type="text" id="apertureField"/><button class="apertureButton">Set Aperture</button></p>

<p>Shutter Speed: <span id="shutter"/></p>
<p>Available Shutter Speeds: <span id="avail_shutter"/></p>
<p><input type="text" id="shutterField"/><button class="shutterButton">Set Shutter Speed</button></p>

<p>ISO: <span id="iso"/></p>
<p>Available ISO: <span id="avail_iso"/></p>
<p><input type="text" id="isoField"/><button class="isoButton">Set ISO Speed</button></p>

<p><button class="shootButton">Take Picture</button></p>
-->

<!-- making pretty -->
	<div id="images">

		<div id="image-left">
		</div>

		<div id="image-right">
		</div>

	</div>

	<div id="right-controls">
	</div>

  <div id="bottom-controls">
	</div>

</body>

</html>
