<!doctype html>
<title>QX1 Control Center</title>

<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
-->
<script type="text/javascript" src="/static/jquery-1.11.2.min.js"></script>

<script>
function update_values() {
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	$.getJSON($SCRIPT_ROOT+"/_data",
		function(data) {
			$("#avail_aperture").text(data.avail_aperture)
			$("#avail_shutter").text(data.avail_shutter)
			$("#avail_iso").text(data.avail_iso)
			$("#mode").text(data.mode)
			$("#videoMode").text(data.videoMode)
			$("#aperture").text(data.aperture)
			$("#shutter").text(data.shutter)
			$("#iso").text(data.iso)
		});
	setTimeout(update_values, 5000);
};
$(update_values());
addEventListener("DOMContentLoaded", function() {
	var shootButton = document.querySelector('.shootButton')
	shootButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
    console.log("Clicked button to take picture");
		request.open("GET", "/takePicture", true);
		request.send();
	});
	var modeButtons = document.querySelectorAll('.modeButton')
	for (var i=0; i < modeButtons.length; i++) {
		modeButton = modeButtons[i];
		modeButton.addEventListener("click", function(e) {
			e.preventDefault();
			var clickedButton = e.target;
			var mode = clickedButton.value;
			var request = new XMLHttpRequest();
			request.open("GET", "/setMode/" + mode, true);
			request.send();
		});
	}
	var apertureButton = document.querySelector('.apertureButton')
	apertureButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
		request.open("GET", "/setAperture/" + document.getElementById("apertureField").value, true);
		request.send();
	});
	var shutterButton = document.querySelector('.shutterButton')
	shutterButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
		request.open("GET", "/setShutter/" + document.getElementById("shutterField").value.replace('/', '.'), true);
		request.send();
	});
	var isoButton = document.querySelector('.isoButton')
	isoButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
		request.open("GET", "/setISO/" + document.getElementById("isoField").value, true);
		request.send();
	});

	//NEW STUFF
	var recordButton = document.querySelector('.recordButton')
	recordButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
    	console.log("Clicked button to take Video");
		request.open("GET", "/takeVideo", true);
		request.send();
	});

	var stopRecordButton = document.querySelector('.stopRecordButton')
	stopRecordButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
    	console.log("Clicked button to stop Video");
		request.open("GET", "/stopVideo", true);
		request.send();
	});

	var switchVideoButton = document.querySelector('.switchVideoButton')
	switchVideoButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
    	console.log("Clicked button to switch to Video mode");
		request.open("GET", "/setVideoMode", true);
		request.send();
	});

	var switchPictureButton = document.querySelector('.switchPictureButton')
	switchPictureButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
    	console.log("Clicked button to switch to Picture mode");
		request.open("GET", "/setPictureMode", true);
		request.send();
	});

	var cameraOnButton = document.querySelector('.cameraOn')
	cameraOnButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
    	console.log("Clicked button turn on camera");
		request.open("GET", "/setCameraOn", true);
		request.send();
	});

	var cameraOffButton = document.querySelector('.cameraOff')
	cameraOffButton.addEventListener("click", function(e) {
		e.preventDefault();
		var request = new XMLHttpRequest();
    	console.log("Clicked button to turn off camera");
		request.open("GET", "/setCameraOff", true);
		request.send();
	});


	//
	update_values();
}, true);
</script>

<p><img src="feed"/></p>

<p>Shooting Mode: <span id="mode"/></p>
<p>Video Mode: <span id="videoMode"/></p>
<p><button class="modeButton" value="Program Auto">Program Auto</button><button class="modeButton" value="Shutter">Shutter</button><button class="modeButton" value="Aperture">Aperture</button></p>

<p>Aperture: <span id="aperture"/></p>
<p>Available Apertures: <span id="avail_aperture"></span></p>
<p><input type="text" id="apertureField"/><button class="apertureButton">Set Aperture</button></p>

<p>Shutter Speed: <span id="shutter"/></p>
<p>Available Shutter Speeds: <span id="avail_shutter"/></p>
<p><input type="text" id="shutterField"/><button class="shutterButton">Set Shutter Speed</button></p>

<p>ISO: <span id="iso"/></p>
<p>Available ISO: <span id="avail_iso"/></p>
<p><input type="text" id="isoField"/><button class="isoButton">Set ISO Speed</button></p>

<p><button class="shootButton">Take Picture</button></p>

<p>!!! New Stuff !!!</p>
<p><button class="switchVideoButton">Switch to Video Mode</button></p>
<p><button class="switchPictureButton">Switch to Picture Mode</button></p>

<p><button class="cameraOn">Turn Camera On</button></p>
<p><button class="cameraOff">Turn Camera Off</button></p>

<p><button class="recordButton">Take Video</button></p>
<p><button class="stopRecordButton">Stop Video</button></p>
